.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.register-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: grid;
  gap: 10px;
}

.register-form h2 {
  margin-bottom: 20px;
  color: var(--font-color-bold);
}

.register-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--font-color-basic);
}

.register-form button {
  width: 100%;
}


.register-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.register-form button:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 9px;
}
