/* Home.css */
.home-container {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  text-align: center;
}

.button-container {
  margin-top: 20px;
}
